.bodyHome {
    background-color: white;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

.container-fluid{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-brand{
    font-size: 140%;
    letter-spacing: 2px;
}

.logo{
    border: solid black 1px;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}

.fhName{
    font-size: 300%;
}

.textMoving{
    animation-duration: 3s;
    animation-name: slidein;
    }
    
    @keyframes slidein {
    from {
        margin-left: 80%;
        width: 100%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.slogan{
    font-size: 150%;
    margin: 10px 0 10px 0;
}

.mastfoot{
    display: flex;
    justify-content:flex-start;
    font-size: 80%;
    margin: 20px;
}

body{
    /* background-color: #808080; */
    /* background: linear-gradient(90deg, #FFFFFF, #808080); */
    background: radial-gradient(#FFFFFF, #757575);
    color: black;
font-family: "Szlichta";
font-size: 120%;
}

@font-face {
    font-family: birchctt;
    src: url("./fonts/birchctt.ttf") format("ttf"),
    url("./fonts/birchctt.woff") format("woff");
}

@font-face {
    font-family: Szlichta;
    src: url("./fonts/Szlichta.ttf") format("ttf"),
    url("./fonts/Szlichta.woff") format("woff");
}

@font-face {
    font-family: BuyanRegular;
    src: url("./fonts/BuyanRegular.ttf") format("ttf"),
    url("./fonts/BuyanRegular.woff") format("woff");
}

@font-face {
    font-family: Caveat-Regular;
    src: url("./fonts/Caveat-Regular.ttf") format("ttf"),
    url("./fonts/Caveat-Regular.woff") format("woff");
}

@font-face {
    font-family: grunge;
    src: url("./fonts/grunge.ttf") format("ttf"),
    url("./fonts/grunge.woff") format("woff");
}

@font-face {
    font-family: MarckScript-Regular;
    src: url("./fonts/MarckScript-Regular.ttf") format("ttf"),
    url("./fonts/MarckScript-Regular.woff") format("woff");
}